  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito:wght@400;700&display=swap");
  button {
      border: none;
  }
  
  .creation {
      padding: 0rem 10rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-family: 'Montserrat';
  }
  
  .creation h1 {
      font-size: 4rem;
      font-weight: 700;
  }
  
  .creation h1 span {
      font-weight: 400;
  }
  
  .creation h3 {
      font-weight: 700;
      font-size: 2.5rem;
  }
  
  .creation h2 {
      font-size: 1.5rem;
      color: #E95841;
  }
  
  .creation .cards-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 2rem 0;
  }
  
  .creation .card p {
      margin: 2rem 0;
      color: #333333;
      font-size: 1.4rem;
  }
  
  .creation .card span {
      color: #E95841;
      margin-right: 1rem;
  }
  
  .creation .card {
      padding: 2rem 4rem;
      margin: 1rem;
      -webkit-box-shadow: 0px 14px 40px #00000014;
      box-shadow: 0px 14px 40px #00000014;
      width: 30%;
  }
  /* seb  */
  
  .nav {
      height: 10rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  
  .nav .nav-logo {
      padding: 1rem 2rem;
  }
  
  .nav .nav-logo:hover {
      -webkit-transition: 1s;
      transition: 1s;
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
  
  .container-menu {
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      scroll-behavior: smooth;
      font-family: 'Montserrat', sans-serif;
  }
  
  .menu-button {
      position: absolute;
      top: 20px;
      right: 50px;
      background-image: url(/ressources/img/bx-menu-alt-right.svg);
      height: 5rem;
      width: 5rem;
      background-size: contain;
      background-repeat: no-repeat;
  }
  
  .popover {
      display: none;
      box-shadow: 0px 6px 8px rgba(19, 19, 19, .7);
  }
  
  .popover:target {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 500;
  }
  
  .popover .content {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 0;
      height: 0;
      color: #fff;
      background-color: #F9F9F9;
      animation: 1s grow ease forwards;
      text-align: center;
  }
  
  .nav_list {
      list-style-type: none;
  }
  
  .nav_list a {
      text-decoration: none;
      font-size: 50px;
      color: #333333;
  }
  
  .nav_list_item {
      height: 100%;
      overflow: hidden;
  }
  
  .nav_list li {
      padding: 15px 0;
      text-transform: uppercase;
      transform: translateY(200px);
      opacity: 0;
      animation: 2s slideUp ease forwards .5s;
      position: relative;
  }
  
  .nav_list li::before {
      content: '';
      position: absolute;
      height: 2px;
      width: 0px;
      left: 0;
      bottom: 10px;
      background: transparent linear-gradient(94deg, var(--unnamed-color-e95841) 0%, #E94B63 100%) 0% 0% no-repeat padding-box;
      background: transparent linear-gradient(94deg, #E95841 0%, #E94B63 100%) 0% 0% no-repeat padding-box;
      transition: all .7s ease;
  }
  
  .nav_list li:hover:before {
      width: 100%;
  }
  
  .popover p {
      padding: 50px;
      opacity: 0;
      animation: 1s fadeIn ease forwards 1s;
  }
  
  .popover .close::after {
      right: 0;
      top: 0;
      width: 50px;
      height: 50px;
      position: absolute;
      display: flex;
      z-index: 1;
      font-size: 30px;
      align-items: center;
      justify-content: center;
      background-color: #E95841;
      color: #fff;
      content: "×";
      cursor: pointer;
      opacity: 0;
      animation: 1s fadeIn ease forwards .5s;
  }
  
  @keyframes grow {
      100% {
          height: 100%;
          width: 100%;
      }
  }
  
  @keyframes fadeIn {
      100% {
          opacity: 1;
      }
  }
  
  @keyframes slideUp {
      100% {
          transform: translateY(0);
          opacity: 1;
      }
  }
  /* hero section  */
  
  .hero {
      width: 70%;
      height: 50rem;
      margin: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
  }
  
  .hero .hero-text {
      width: 50%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: start;
  }
  
  .hero .hero-text h1 {
      font: normal normal bold 55px/67px Montserrat;
  }
  
  .hero .hero-text span {
      font: normal normal normal 55px/67px Montserrat;
  }
  
  .hero .hero-text h2 {
      font: normal normal normal 18px/22px Montserrat;
      color: #333333;
  }
  
  .hero .hero-text h2::after {
      content: "";
      height: .3rem;
      width: 13%;
      display: block;
      margin-top: 1rem;
      background: transparent linear-gradient(94deg, var(--unnamed-color-e95841) 0%, #E94B63 100%) 0% 0% no-repeat padding-box;
      background: transparent linear-gradient(94deg, #E95841 0%, #E94B63 100%) 0% 0% no-repeat padding-box;
  }
  
  .hero .hero-text p {
      margin-top: 2rem;
      font: normal normal normal 18px/30px Montserrat;
      color: #333333;
  }
  
  .hero .hero-text .buttons-container {
      margin-top: 2rem;
  }
  
  .hero .hero-text .buttons-container .CTA {
      width: 18rem;
      background: transparent linear-gradient(102deg, #E95841 0%, #E94B63 100%) 0% 0% no-repeat padding-box;
      -webkit-box-shadow: 0px 5px 10px #E9584129;
      box-shadow: 0px 5px 10px #E9584129;
      border-radius: 30px;
      font: normal normal normal 14px/26px Montserrat;
      color: #FFFFFF;
      text-align: center;
      padding: 1rem 3rem;
      margin-right: 2rem;
  }
  
  .hero .hero-text .buttons-container .CTA:hover {
      border: solid 1px #FFFFFF;
      font: normal normal normal 16px/28px Montserrat;
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-transition: .3s;
      transition: .3s;
  }
  
  .hero .hero-text .buttons-container .CTA-secondary {
      width: 18rem;
      background: #F9F9F9 0% 0% no-repeat padding-box;
      -webkit-box-shadow: 0px 5px 10px #00000019;
      box-shadow: 0px 5px 10px #00000019;
      border-radius: 30px;
      font: normal normal normal 14px/26px Montserrat;
      color: #E95841;
      text-align: center;
      padding: 1rem 3rem;
  }
  
  .hero .hero-text .buttons-container .CTA-secondary:hover {
      border: solid 1px #E95841;
      font: normal normal normal 16px/28px Montserrat;
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-transition: .3s;
      transition: .3s;
  }
  
  .hero .hero-profile {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  
  .hero .hero-profile .hero-profile-shadow {
      margin-top: -3rem;
  }
  
  .hero .hero-profile .hero-profile-logo {
      background-color: #FFFFFF;
      -webkit-box-shadow: 0px 14px 40px #00000029;
      box-shadow: 0px 14px 40px #00000029;
      padding: 3rem;
      border-radius: 50%;
      margin-top: -15rem;
      margin-right: -15rem;
      z-index: 100;
  }
  
  .hero .hero-profile .hero-profile-logo-img {
      height: 8rem;
      width: 8rem;
  }
  
  .hero .hero-profile .hero-profile-logo-img:hover {
      -webkit-transition: 1s;
      transition: 1s;
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
  
  .hero .hero-profile .hero-social-container {
      margin-top: 2rem;
      width: 30%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-filter: opacity(0.5);
      filter: opacity(0.5);
  }
  
  .hero .hero-profile .hero-social-container img:hover {
      -webkit-transform: scale(1.5) rotate(5deg);
      transform: scale(1.5) rotate(5deg);
      -webkit-transition: .2s;
      transition: .2s;
  }


  /* CARDS */

  .cards-reverse h2{
    color: #E95841;
    font-size: 1.6rem;
    font-family: 'Montserrat';
    font-weight: 700;
  }

  .cards-reverse h1{
      font-family: 'Montserrat';
      font-weight: 700;
      font-size: 5.5rem;
      margin-bottom: 2.5rem;
  }

  .cards-reverse li:nth-child(even){
      flex-direction: row-reverse;
  }

  .cards-reverse p{
      font-family: 'Nunito';
      font-size: 1.8rem;
      margin-bottom: 3.2rem;
  }

  .cards-reverse h1 span{
      font-weight: normal;
  }

  .cards-reverse li{
      display: flex;
      
  }

  .cards-reverse img{
      width: 68.3rem;
      height: 51.3rem;
  }

  .card-text{
      margin: auto;
      width: 44.4rem;
  }

  .button-card .create{
    width: 18rem;
    background: transparent linear-gradient(102deg, #E95841 0%, #E94B63 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #E9584129;
    border-radius: 30px;
    font: normal normal normal 14px/26px Montserrat;
    color: #FFFFFF;
    text-align: center;
    padding: 1rem 3rem;
    margin-right: 2rem;
  }

  .button-card .touch{
    width: 18rem;
    background: #F9F9F9 0% 0% no-repeat padding-box;
    -webkit-box-shadow: 0px 5px 10px #00000019;
    box-shadow: 0px 5px 10px #00000019;
    border-radius: 30px;
    font: normal normal normal 14px/26px Montserrat;
    color: #E95841;
    text-align: center;
    padding: 1rem 3rem;
}
