@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito:wght@400;700&display=swap');
.creation {
    padding: 0rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat';
    h1 {
        font-size: 4rem;
        font-weight: 700;
    }
    h1 span {
        font-weight: 400;
    }
    h3 {
        font-weight: 700;
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.5rem;
        color: #E95841;
    }
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2rem 0;
    }
    .card p {
        margin: 2rem 0;
        color: #333333;
        font-size: 1.4rem;
    }
    .card span {
        color: #E95841;
        margin-right: 1rem;
    }
    .card {
        padding: 2rem 4rem;
        margin: 1rem;
        box-shadow: 0px 14px 40px #00000014;
        width: 30%;
    }
}